<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm w-100">
  <div class="container-fluid d-flex justify-content-between align-items-center w-100">

    <!-- Logo y Nombre -->
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="" alt="Logo" width="50" height="50">
      <h3 class="m-0">
        <a class="text-decoration-none text-white" href="#">La tienda del Gitano</a>
      </h3>
    </a>

    <!-- Menú -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white d-flex align-items-center gap-2" href="">
            <h5 class="m-0">Agregar Camiseta</h5>
            <img src="" alt="icon" width="40" height="40">
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>